## PERFORMING LIST FUNCTIONS IN PYTHON

In [1]:
#Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

__Positive and Negative Indexing in Lists__

In [3]:
#PositiveIndex
L[0]

'Michael Jackson'

In [4]:
#NegativeIndex
L[-1]

1982

__Contents of a List__

List can contain other list, tuples and other data types such as integers, floats, and strings.

"Michael Jackson" is a string

10.1 is a float

[1,2] is a nested list

("A", 1) is tuple with a string and an integer nested within

In [10]:
#Sample List

M=["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
M

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [11]:
#Length of list
len((M))

5

__Slicing a List__ : Selecting particular elements or characters in a list.

In [12]:
#List slicing

M[3:5]

[[1, 2], ('A', 1)]

__Extending__ a list by adding new elements or characters.

In [13]:
#Use extend to add elements to list

M=["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
M.extend(['pop', 10])
M

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10]

__Appending__ a list by adding new elements or characters a a group of one.

In [20]:
#First make a copy of M
N=M[:]
N

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10]

In [19]:
#Delete the element not required from the new copy (N)
del(N[5])
N

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [18]:
#Now Append as required by adding new element as a group of one.
N.append(['pop', 10])
N

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), ['pop', 10]]

__Performing Mutable Functions on LISTS__ This means the contents of a list can be modified or changed.

In [21]:
#Sample list

A = ["disco", 10, 1.2]
A

['disco', 10, 1.2]

In [23]:
#Change sting "disco" to "hardrock"
A[0] = "hardrock"
A

['hardrock', 10, 1.2]

__Delete an element in a list__

In [24]:
del(A[2])
A

['hardrock', 10]

__Converting a string to a list__ This is done by using the split() command

In [25]:
#Convert the string "my hard rock is looking good baby" to a list
"my hard rock is looking good baby".split()

['my', 'hard', 'rock', 'is', 'looking', 'good', 'baby']

In [27]:
#Convert the string separated by comma "A,B,C,D,10.5,12"
"A,B,C,D,10.5,12".split(',')

['A', 'B', 'C', 'D', '10.5', '12']

__Referencing a list__ This makes an exact copy of the original list. Changes in the clone would reflect in the original copy. This is known as Aliasing.

In [33]:
#Sample list B=[1,2,"expensive",[X360, sports car]]
B=[1, 2, "expensive",["X360", "sports car"]]
B

[1, 2, 'expensive', ['X360', 'sports car']]

In [35]:
#Copy of B
C=B
C

[1, 2, 'expensive', ['X360', 'sports car']]

In [36]:
#Check if changes applied in B would refelect in C
B[0]=5
B

[5, 2, 'expensive', ['X360', 'sports car']]

In [37]:
C

[5, 2, 'expensive', ['X360', 'sports car']]

__Copy and Cloning a list__ This makes an exact copy of the original list. Changes in the clone would not reflect in the original copy

In [38]:
#Make a clone of B
D=B[:]
D

[5, 2, 'expensive', ['X360', 'sports car']]

In [39]:
#Now modify B
B[0]=1
B

[1, 2, 'expensive', ['X360', 'sports car']]

In [40]:
#Now check clone D
D

[5, 2, 'expensive', ['X360', 'sports car']]

QUIZ

In [42]:
#Create a list a list, with the following elements 1, hello, [1,2,3] and True.
list1=[1,'hello', [1,2,3], True]
list1

[1, 'hello', [1, 2, 3], True]

In [44]:
#Find the value stored at index 1 of list1.
list1[1]

'hello'

In [47]:
#Retrieve the elements stored at index 1, 2 and 3 of list1.
list1[1:4]

['hello', [1, 2, 3], True]

In [49]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd'] as nested lists
A = [1,"a"]
B = [2,1,"d"]
C=[A]+[B]
C

[[1, 'a'], [2, 1, 'd']]

In [51]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd'] as one combined list
A = [1,"a"]
B = [2,1,"d"]
C=A+B
C

[1, 'a', 2, 1, 'd']

__SCENARIO__

Task-1 Create an empty list¶

In [53]:
#Create an empty list¶
ShoppingList=[]
ShoppingList

[]

In [72]:
#Now store the number of items to the shopping_list
ShoppingList=["Watch","Laptop","Shoes","Pen","Clothes"]
ShoppingList

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

In [73]:
#Add a new item to the shopping_list
ShoppingList.append("Football")
ShoppingList

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [74]:
#Print First item from the shopping_list
ShoppingList[0]

'Watch'

In [75]:
#Print Last item from the shopping_list
ShoppingList[-1]

'Football'

In [76]:
#Print the entire Shopping List
ShoppingList

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [77]:
#Print specific items that are important to buy from the Shopping List (Laptop, Shoes)
ShoppingList[1:3]

['Laptop', 'Shoes']

In [78]:
#Change the item from the shopping_list Replace Pen with Notebook
ShoppingList[3]='Notebook'
ShoppingList

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

In [79]:
#Delete the item from the shopping_list that is not required. Remove Clothes
del(ShoppingList[4])
ShoppingList

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']