In [5]:
#First output
print ('hello world!')

hello world!

In [8]:
#Check Python version
print (sys.version)

3.11.2 (main, May  3 2023, 04:00:05) [Clang 17.0.0 (https://github.com/llvm/llvm-project df82394e7a2d06506718cafa347b

In [9]:
#Practice writing comment
print ('Hi!')

Hi!

In [10]:
#Print string as error message
frint ('hello world!')

<class 'NameError'>: name 'frint' is not defined

In [11]:
#Making built in error messages in the syntax
print ("hello world')

<class 'SyntaxError'>: unterminated string literal (detected at line 2) (<ipython-input-11-a97a0aacf304>, line 2)

In [13]:
#Print string and error to see the running order
print ('This string will run');
frint ('This string will cause an error');
print ('This string will NOT be printed');

This string will run

<class 'NameError'>: name 'frint' is not defined

EXERCISE ON RUNNING FIRST PROGRAM

In [14]:
print ('Hello, Ugurmumcu!')

Hello, Ugurmumcu!

Print code with comment

In [16]:
#Print with comment
print ('Hello Ugurmumcu')

Hello Ugurmumcu

*TYPES OF OBJECTS IN PYTHON*

INTEGERS = 1,2,3

FLOATS = 1,2,3,3.1,3.2,.....4

STRINGS = 'Hello Ugurmumcu'

__Getting Python to tell you the data type of the value entered__

In [17]:
type ('hello, ugurmumcu!')

str

In [19]:
#INTEGER
12

12

In [20]:
#FLOAT
12.234

12.234

In [21]:
type (12)

int

In [22]:
type (12.234)

float

__INTEGERS__

Integers can be positive or negative numbers

In [23]:
#print integer -1
-1

-1

In [24]:
#print integer 0
0

0

In [25]:
#print integer 1
1

1

Verifying the data type of integers entered using the type function

In [26]:
type(-1)

int

__FLOATS__

Floats represents real numbers consisting of integers and the numbers inbetween them.

In [27]:
#print float 2.0
2.0

2.0

In [28]:
#print float 2.34
2.34

2.34

Verifying the data type of floats entered using the type function

In [29]:
type (2.34)

float

__Converting from one object type to a different object type__

Changing the data type of values entered in python is called __TYPECASTING__ 
Remember to check data type; the __t__ in "type" is in lowercase.

In [30]:
#Convert the integer 1 to a float
float(1)

1.0

In [31]:
#Checking the data type of a converted value
type(1.0)

float

In [32]:
#Converting and checking the data type simultanously
type(float(-1))

float

Changing Integers into floats does not make any changes to its value. But when floats are converted to integers, they tend to lose some parts of their value.

__TypeCasting FLOATS into INTEGERS__

In [35]:
#Convert the float 2.34 to an integer
int(2.34)

2

__Converting Strings into floats or Integers__

We can convert a string which is in numerical form into an integer or a float ; '1'. But same cannot be done for a string that contains non-numericals values; '1 or 2 persons'

In [37]:
#Convert the string '1' to an integer
int('1')

1

In [38]:
#Convert the string '1' to a float
float('1')

1.0

In [41]:
#Convert the string '1.3' to a float
float('1.3')

1.3

In [39]:
#Error Conversion - Convert the string '1 apple' to an integer
int('1 apple')

<class 'ValueError'>: invalid literal for int() with base 10: '1 apple'

In [40]:
#Error Conversion - Convert the string '1 apple' to a float
float('1 apple')

<class 'ValueError'>: could not convert string to float: '1 apple'

__NOTE__

Strings can be quoted in single quotes '1' or double quotes "1" __but not mixed "1'.__

__Converting Integers/Floats into Strings__

In [44]:
#Convert the integer 1 to a string value
str(1)

'1'

In [43]:
#Convert the float 1.34 to a string value
str(1.34)

'1.34'

__BOOLEAN DATA TYPE__

Boolean data types have two values; True and False with the first letters in UPPERCASES

In [46]:
True

True

In [47]:
False

False

Displaying the type of the boolean object always returns __boo1__

In [50]:
type(True)

bool

__Typecasting a Boolean data type to other data types like floats and integers__

Casting a boolean of False to an Integer/Float returns a value of 0 - __Similarly casting 0 to a boolean returns False__

Casting a boolean of True to an Integer/Float returns a value of 1 - __Similarly casting 1 to a boolean returns True__

BOOLEAN <--> INTEGER

In [53]:
#Convert boolean to integer
int(True)

1

In [54]:
#Convert boolean to integer
int(False)

0

In [55]:
#Convert 0 to boolean
bool(0)

False

In [56]:
#Convert 1 to boolean
bool(1)

True

BOOLEAN <--> FLOAT

In [57]:
#Convert boolean to float
float(True)

1.0

In [58]:
#Convert boolean to float
float(False)

0.0

In [59]:
#Convert 1.0 to boolean
bool(1.0)

True

In [60]:
#Convert 0.0 to boolean
bool(0.0)

False

EXERCISES

In [64]:
#What is the data type of the result of: 6 / 2?
6/2

3.0

In [65]:
type(3.0)

float

The data type of the result is a __float__.

In [66]:
#What is the type of the result of: 6 // 2? 
6//2

3

In [67]:
type(3)

int

The data type of the result is a __integer__.

# EXPRESSIONS AND VARIABLES

## Expressions

This includes operations among compatible data types (integers and floats) and include basic mathematical operations.

In [68]:
#Addition

In [69]:
2+2+4+55+67

130

In [71]:
#Subtraction
20-13-5

2

In [72]:
#Multiplication
30*10

300

In [73]:
#Division
300/10

30.0

In [74]:
#Division (rounded)
300//10

30

EXERCISES

In [75]:
#Let's write an expression that calculates how many hours there are in 160 minutes:
160//60

2

There are approximately 2 complete hours in 160 mins.

__Ordered Mathematical Operations In Python__

This is done following the rule of BODMAS

In [77]:
# Mathematical expression (With 2*60 treated first before 30 is added to the result; Multiplication comes before Addition)

30 + 2 * 60

150

Expressions enclosed in parentheses also have priority.

In [78]:
# Mathematical expression (With 30+2 treated first before the result is multiplied by 60; Bracket comes before Multiplication)
(30 + 2) * 60

1920

## Variables

We can store values in variables, so we can use them later on.

In [82]:
#Store value into variable a
a = 20+5

In [80]:
#Print out the variable stored
a

25

 Perform operations on __a__ and save the result to a new variable.

In [85]:
b = a*3

In [86]:
#Print out the result stored in a new variable
b

75

Updating the value stored in a variable.

In [87]:
a = a-5

In [88]:
#Print out the updated value of variable a
a

20

Giving Meaningful Names to Variables.

Calculate the total amount of time of 5 musical albums played in a coffee shop. 

Album 1 - 23mins

Album 2 - 43mins

Album 3 - 12mins

Album 4 - 10mins

Album 5 - 11mins

In [91]:
#Total Amount of Minutes of all Five Albums
total_mins = 23+43+12+10+11

In [92]:
#Print out Total Amount of Minutes of all Five Albums
total_mins

99

Now find the total amount of time these 5 musical albums were played in hours.

In [93]:
#Total Amount of Hours all Five Albums were played
total_hrs = total_mins//60

In [94]:
#Print out Total Amount of Hours all Five Albums were played
total_hrs

1

EXERCISE

In [97]:
#What is the value of x where x = 3 + 2 * 2
x=3+2*2

In [98]:
#Print the value of x
x

7

In [99]:
#What is the value of y where y = (3 + 2) * 2?
y=(3+2)*2

In [100]:
#Print the value of y
y

10