# STRING OPERATIONS

Strings can be written in single or dounle quotes

In [2]:
#Single quotes
print('Hello world!')

Hello world!

In [4]:
#Double quotes
print("Hello world!")

Hello world!

Strings can come in combination of spaces and numbers

In [5]:
#String with spaces and numbers
print('1 2 3 4 5')

1 2 3 4 5

Strings can come in combination of special characters

In [6]:
#String with special characters
print('+%^&%=^+#')

+%^&%=^+#

Strings can be assigned to a variable

In [14]:
#Assigning string to a variable
string1 = 'Hello world'
string1

'Hello world'

Checking variable

In [15]:
string1

'Hello world'

__Indexing__

Indexes tie characters in a string to a sequence of numbers which could be positive from 0 to n....or negative from -n to -1

HELLO WORLD = 01234 (5) 6789(10)

Where H = 0....... Space = 5 ...... D = 10

In [18]:
#Print the first element in the string
print(string1[0])

H

In [19]:
# Print the element on index 6 in the string or the sixth element
print(string1[6])

w

In [20]:
# Print the element on index 10 in the string or the tenth element
print(string1[10])

d

__Negative Indexing__

HELLO WORLD = -11-10-9-8-7 (-6) -5-4-3-2-1

Where H = -11....... Space = -6 ...... D = -1

In [22]:
# Print the last element in the string

print(string1[-1])

d

In [23]:
# Print the first element in the string

print(string1[-11])

H

Finding the length of the string using __len__

In [24]:
# Find the length of string

len("Hello World")

11

__SLICING__

We can obtain multiple characters from a string using slicing.

NICHOLAS WILSON = 0,1,2,3,4,5,6,7 (8) 9,10,11,12,13,14

Where N = 0....... Space = 8 ...... N = 14

In [25]:
#Assigning string to a variable
string2 = 'Nicholas Wilson'
string2

'Nicholas Wilson'

In Slicing, the indexes included in the print stops a sequence after. So a slice of only 0 to 3 would be written as [0:4]

In [26]:
#Take the slice of string2 on variable name from index 0 to 3

string2[0:4]

'Nich'

In [27]:
#Take the slice of string2 on variable name from index 0 to 5

string2[0:6]

'Nichol'

In [28]:
#Take the slice of string2 on variable name from index 9 to 11

string2[9:12]

'Wil'

In [31]:
#Take the slice of string2 on variable name from index 9 to 14

string2[9:15]

'Wilson'

__STRIDES__

Striding is done by selecting every second variable

In [32]:
#Get every second element on string2. The elments on index 1, 3, 5 ...

string2[::2]

'Ncoa isn'

__Using SLICE and STRIDE__

In [33]:
#Get every second element in the range from index 0 to index 4
string2[0:5:2]

'Nco'

In [35]:
#Get every second element in the range from index 0 to index 14
string2[0:10:2]

'Ncoa '

__Adding Strings__

Strings can be combined to form new strings without changing the value of the original string.

In [37]:
#Concatenate/Combine two strings

string3 = string2 + " is the best"
string3

'Nicholas Wilson is the best'

Note space was added in the additional string " is the best" to ensure the new string comes out correctly

In [41]:
#Concatenate/Combine multiple strings (additional strings and named strings)

string4 = string1 + ". I want to tell you something. " + string3 + ' in the world!'
string4

'Hello world. I want to tell you something. Nicholas Wilson is the best in the world!'

__Duplicate Strings__

In [47]:
# Print the string4 2 times

2 * string4

'Hello world. I want to tell you something. Nicholas Wilson is the best in the world!Hello world. I want to tell you something. Nicholas Wilson is the best in the world!'

In [45]:
# Print 'Starbucks sucks' 3 times

3 * ' Starbucks sucks'

' Starbucks sucks Starbucks sucks Starbucks sucks'

Create New Strings by setting it to an original string which is then updated to the new string

In [48]:
string2 = string2 + " Eghagha"
string2

'Nicholas Wilson Eghagha'

## ESCAPE SEQUENCES

__New Lines__ \n

In [49]:
print("Nicholas Wilson Eghagha \n is the best")

Nicholas Wilson Eghagha
 is the best

__Tab__ \t

In [50]:
print("Nicholas Wilson Eghagha \t is the best")

Nicholas Wilson Eghagha 	 is the best

__Backslash__ \\

In [51]:
print("Nicholas Wilson Eghagha \\ is the best")

Nicholas Wilson Eghagha \ is the best

## String Method Operations

__UpperCase__

This string method converts lowercase characters into uppercase.

In [3]:
#Assigning string to a variable
string5 = 'I am good'
string5

'I am good'

In [5]:
#Converting string5 to uppercase
string6=string5.upper()
string6

'I AM GOOD'

__LowerCase__

This string method converts uppercase characters into lowercase.

In [6]:
#Converting string6 to lowercase
string7=string6.lower()
string7

'i am good'

__Replacing Substrings__

This replaces a part or subset of a string with a new string

In [10]:
#Replacing a string subset
string8='I am trying to replace a subset of this string'
string9=string8.replace('I am', 'I have stopped')
string9

'I have stopped trying to replace a subset of this string'

__Finding Substrings__

One can find the start of certian characters they which to locate in a string using the __find__ string method.

In [16]:
#Define string10 variable
string10='I believe he is a good addition to the team we are currently trying to set up to lead the investigationg into the death of Mrs. Charles Edwin'
string10

'I believe he is a good addition to the team we are currently trying to set up to lead the investigationg into the death of Mrs. Charles Edwin'

In [17]:
#Find "death" in string10
string10.find('death')

114

In [18]:
#Check the length of characters in string10

In [19]:
len(string10)

141

QUIZ

In [24]:
#What is the value of the variable c after the following code is executed
a = "1"
b = '2'
c = a+b
c

'12'

In [28]:
#Consider the variable d use slicing to print out the first three elements of the string d
d = "ABCDEFG"
d[0:3]

'ABC'

In [29]:
#Use a stride value of 2 to print out every second character of the string e
e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [38]:
#Print out a blacklash
print('I am trying \\ to print a backslash in this string')

I am trying \ to print a backslash in this string

In [40]:
# Convert string f to uppercase

f = "You are wrong"
g=f.upper()
g

'YOU ARE WRONG'

In [41]:
#Consider the variable h, and find the first index of the sub-string 'snow'

h = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
h.find('snow')

95

In [42]:
len(h)

200

In [43]:
#In g, replace the sub-string Mary with Bob
i=h.replace('Mary', 'Bob')
i

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

## EXCELLENT WORK NICHOLAS